export TEMPLATE_OUTPUT_BUCKET=cms-cloud-custom-control-tower-template
export DIST_OUTPUT_BUCKET=cms-cloud-custom-control-tower-dist
export SOLUTION_NAME=customizations-for-aws-control-tower
export AWS_DEFAULT_REGION=us-east-1
export AWS_REGION=us-east-1
layout python3
